# Ignore virtual environments
venv/
.venv/
env/
/venv/
/.venv/
/env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ignore SQLite db files
*.db
*.sqlite

# Node/Vite build ignore
node_modules/
dist/
build/
.env

# OS files
.DS_Store
